#jnt_forge .box {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
#jnt_forge .box.box-rounded {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#jnt_forge .box.box-tinted {
    background-color: #fcfcfc;
}
#jnt_forge .box.box-margin-top {
    margin-top: 20px;
}
#jnt_forge .moduleTags > h5 {
    display: inline-block;
}
#jnt_forge .moduleTags > ul {
    display: inline-block;
}
#jnt_forge .moduleTags .tag {
    color: #999999;
}
#jnt_forge .moduleTags .tag:before {
    content: "#";
}
#jnt_forge .dl-small .term {
    font-size: 11.9px;
}
#jnt_forge .progress .ratingCount {
    padding-left: 6px;
}
#jnt_forge .progress .bar {
    position: relative;
}
#jnt_forge .progress .bar .ratingCount {
    position: absolute;
    right: 6px;
    padding-left: 0;
}
#jnt_forge .previousVersion {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
}
#jnt_forge .previousVersion:last-child {
    border-bottom: none;
}
#jnt_forge .previousVersion:hover footer {
    color: #333333;
}
#jnt_forge .previousVersion header h3 {
    display: inline-block;
    line-height: normal;
}
#jnt_forge .previousVersion header a,
#jnt_forge .previousVersion header button {
    margin: 10px 0;
}
#jnt_forge .previousVersion footer {
    color: #999999;
    -webkit-transition: color 0.15s linear;
    -moz-transition: color 0.15s linear;
    -o-transition: color 0.15s linear;
    transition: color 0.15s linear;
}
#jnt_forge dl.inline dt,
#jnt_forge dl.inline dd {
    display: inline;
}
#jnt_forge dl.inline dt {
    margin-left: 20px;
}
#jnt_forge dl.inline dt:first-child {
    margin-left: 0;
}
#jnt_forge .bar.bar-5stars {
    background-color: #46a046;
    background-image: -moz-linear-gradient(top, #50b550, #378137);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#50b550), to(#378137));
    background-image: -webkit-linear-gradient(top, #50b550, #378137);
    background-image: -o-linear-gradient(top, #50b550, #378137);
    background-image: linear-gradient(to bottom, #50b550, #378137);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff50b550', endColorstr='#ff378137', GradientType=0);
}
#jnt_forge .bar.bar-4stars {
    background-color: #61b861;
    background-image: -moz-linear-gradient(top, #74c474, #46a546);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#74c474), to(#46a546));
    background-image: -webkit-linear-gradient(top, #74c474, #46a546);
    background-image: -o-linear-gradient(top, #74c474, #46a546);
    background-image: linear-gradient(to bottom, #74c474, #46a546);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74c474', endColorstr='#ff46a546', GradientType=0);
}
#jnt_forge .bar.bar-3stars {
    background-color: #ffcf3b;
    background-image: -moz-linear-gradient(top, #ffd75a, #ffc40d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd75a), to(#ffc40d));
    background-image: -webkit-linear-gradient(top, #ffd75a, #ffc40d);
    background-image: -o-linear-gradient(top, #ffd75a, #ffc40d);
    background-image: linear-gradient(to bottom, #ffd75a, #ffc40d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffd75a', endColorstr='#ffffc40d', GradientType=0);
}
#jnt_forge .bar.bar-2stars {
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
#jnt_forge .bar.bar-1stars {
    background-color: #c13227;
    background-image: -moz-linear-gradient(top, #d83a2e, #9d261d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d83a2e), to(#9d261d));
    background-image: -webkit-linear-gradient(top, #d83a2e, #9d261d);
    background-image: -o-linear-gradient(top, #d83a2e, #9d261d);
    background-image: linear-gradient(to bottom, #d83a2e, #9d261d);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd83a2e', endColorstr='#ff9d261d', GradientType=0);
}
#jnt_forge .control-group.reviewRating .ui-stars-star,
#jnt_forge .control-group.newReviewRating .ui-stars-star,
#jnt_forge .averageRating .ui-stars-star,
#jnt_forge .moduleMetaData .ui-stars-star {
    float: none;
    display: inline-block;
    padding-top: 7px;
}
#jnt_forge .averageRating.box {
    margin-top: 20px;
    text-align: center;
}
#jnt_forge .reviewsHeader {
    display: inline-block;
}
#jnt_forge .reviewRating .ui-stars-star {
    cursor: default;
}
#jnt_forge .reviewRating,
#jnt_forge .reviewTitle {
    display: inline-block;
}
#jnt_forge #writeReviewToggle {
    margin-left: 12px;
    vertical-align: text-bottom;
}
#jnt_forge .review .replyReview {
    display: none;
}
#jnt_forge .review a.authorName {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}
#jnt_forge .review a.authorName:hover {
    text-decoration: underline;
}
#jnt_forge .review time:before {
    content: "- ";
}
#jnt_forge #moduleHeader,#jnt_forge .forgeModule  {
    text-align: center;
}
#jnt_forge .forgeModule  {
    margin-bottom: 15px;
}
#jnt_forge .forgeModule h4  {
    margin-bottom:0;
}

#jnt_forge #moduleHeader header > h1 {
    margin-bottom: 0;
}
#jnt_forge #moduleHeader .moduleIcon {
    margin-bottom: 20px;
    margin-top: 20px;
}
#jnt_forge #moduleHeader .moduleRating {
    margin-bottom: 16px;
}
#jnt_forge #moduleHeader .moduleRating form {
    margin: 0;
    display: inline;
}
#jnt_forge #moduleHeader .moduleRating span {
    margin-left: 5px;
}
.btn.btnBack {
    margin-bottom: 20px;
}
#jnt_forge .viewAs {
    opacity: 0.4;
    -webkit-transition: opacity 0.35s ease;
    -moz-transition: opacity 0.35s ease;
    -o-transition: opacity 0.35s ease;
    transition: opacity 0.35s ease;
}
#jnt_forge .viewAs:hover {
    opacity: 1;
}
#jnt_forge ul.thumbnails li.first-thumbnail {
    clear: left;
    margin-left: 0;
}
#jnt_forge #forgeFacets ul.inline li {
    margin-top: 5px;
}
#jnt_forge #forgeFacets ul.inline li span.label a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
#jnt_forge #forgeFacets ul.inline li span.label a:hover {
    color: inherit;
}
#jnt_forge #moduleScreenshotsList .moduleScreenshot img.move-screenshot {
    cursor: move;
}
#jnt_forge .ratingValue {
    display: inline;
}
#jnt_forge .ratingValue form {
    display: inline;
}
#jnt_forge .btn-file-upload  {
    margin-bottom: 15px;
}
#jnt_forge .label.label-category, #jnt_forge .badge.badge-category {
    background-color: #5C5CB8;
}
#jnt_forge .label.label-tags, #jnt_forge .badge.badge-tags {
    background-color: #ffbc00;
}
#jnt_forge .forgeModule.thumbnail header a img {
    margin-top: 20px;
}
#jnt_forge .moduleRating .ui-stars-star {
    display: inline-block;
    float: none;
}
#jnt_forge .newReviewRating .ui-stars-star {
    background: none;
}
#jnt_forge .moduleInformation .labels .label {
    display: inline-block;
    margin-bottom: 5px;
    padding: 2px 6px 3px 5px;
}
#jnt_forge .moduleInformation .labels span:first-of-type {
    margin-bottom: 8px;
}
#jnt_forge .moduleInformation .term,
#jnt_forge .moduleInformation .description {
    line-height: 20px;
}
#jnt_forge .moduleInformation .term {
    font-weight: bold;
}
#jnt_forge .moduleInformation .description {
    margin-left: 10px;
}
#jnt_forge .forgeModule .badges {
    margin-bottom: 8px;
    display: block;
    height:20px;
}
#jnt_forge #moduleOverview .moduleDescription footer {
    margin-top: 1em;
}
#jnt_forge #forgeFacets ul li a {
    text-decoration: none;
}

#jnt_forge .moduleVersionHeader {
    margin: 10px 0;
}

#jnt_forge .moduleVersionHeader h3 {
    margin: 0;
    line-height: normal;
}

#jnt_forge {
    margin: 1em 0;
}
#jnt_forge a.removeFacet {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.modal-footer .btn {
    margin-bottom:0;
}
