#moduleOverview {
    clear: both;
    overflow: hidden;
}

#moduleOverview .mainContentWrapper {
    float: left;
    clear: left;
    width: 80%;
    padding-right: 5%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

#moduleOverview aside {
    border-left: 1px solid #DDDDDD;
    float: right;
    clear: right;
    padding-left: 3%;
    width: 20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

.moduleDescription footer a {
    margin-right: 1em;
}

.moduleDescription footer a:before {
    content: "> ";
}

.moduleDescription .moduleTags {
    margin: 1em 0;
}

.moduleDescription .moduleTags header {
    font-weight: bold;
}

.moduleDescription .moduleTags ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.moduleDescription .moduleTags ul > li {
    list-style: none;
    display: inline;
    padding: 0 0.5em 0 0;
    color: #999999;
}

.moduleDescription .moduleTags ul > li:before {
    content: "#";
}

.moduleMetaData {
    font-size: 10px;
    line-height: normal;
}

.moduleMetaData dt {
    text-transform: uppercase;
    margin: 0;
    color: #999999;
}

.moduleMetaData dd {
    margin: 0 0 1em 0;
}

.moduleForm .control-group.hidden-control-group {
    display: none;
}

.moduleForm .control-group.set-control-group .controls {
    display: none;
}

ul#moduleScreenshotList {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul#moduleScreenshotList li {
    border: 1px solid #DDDDDD;
    margin: 3px 3px 3px 0;
    padding: 3px;
    height: 250px;
    width: 180px;
    float: left;
    text-align: center;
    cursor: move;
}


/*
 * Module Header
 */

#moduleHeader {
    border: 1px solid #C6C6C6;
    padding: 1em 1em 1.5em;
    color: #555;
    margin-bottom: 0.875em;
}

#moduleHeader header {
    color: inherit;
}

#moduleHeader header > h1 {
    font-weight: normal;
    line-height: normal;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

#moduleHeader header > a {
    color: inherit;
}

#moduleHeader .moduleIcon {
    width: 125px;
    margin: 0.6em 0;
    display: block;
}

#moduleHeader .moduleRating {
    margin-top: 1em;
}

#moduleHeader .moduleDownloadLink {
    background-color: #F9F9F9;
    border: 1px solid #C6C6C6;
    color: #282828;
    display: block;
    margin-top: 1em;
    padding: 0.7em 0.8em 0.5em;
    text-align: center;
}

/*
 * Tabular list
 */

#tabstabular-list {
    border: 1px solid #C6C6C6;
    background-color: #FFFFFF;
}

#tabstabular-list .idTabs {
    margin: 0;
}

#tabstabular-list .tabContainer {
    padding: 1em 1.6em 3em;
}



/*
 * Change log tab
 */

#moduleChangeLog .previousVersion header {
    background-color: #F9F9F9;
    border: 1px solid #C6C6C6;
    margin-bottom: 1em;
    margin-top: 2em;
    overflow: hidden;
    padding: 0.7em 1em 0.5em;
}

#moduleChangeLog .previousVersion header > h3 {
    float: left;
    clear: left;
    margin: 0;
}

#moduleChangeLog .previousVersion header > a {
    float: right;
    clear: right;
    color: inherit;
}

/* TODO */

#moduleOverview h2, #moduleChangeLog h2, #moduleFAQ h2, #moduleHowToInstall h2 {
    background: none;
    margin-bottom: 0;
}